@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css);

code {
  white-space: pre-wrap;
  color: black;
}

li {
  list-style-type: none;
}

ul.trace:target {
  visibility: visible;
}

ul.trace {
  visibility: hidden;
}
